<div class="container text-center mb-5">
    <h1>Welcome to {{courseList?.name}} Quiz</h1>
    <h3>{{courseList?.questions[activeIndex]?.id}}. {{courseList?.questions[activeIndex]?.name}}</h3>

    <ul class="list-group text-left" style="max-width: 500px; margin: auto;">
        <li class="list-group-item active d-flex align-items-center">
            <span class="d-flex-inline flex-fill">Select the Option</span>
            <button class="btn btn-danger" routerLink="/result">Finish</button>
        </li>
        <li class="list-group-item d-flex align-items-center" *ngFor="let x of options">
            <span class="d-flex-inline flex-fill"> {{x.name}}</span>
            <button class="btn btn-warning" (click)="onSelect(x)">Select</button>
        </li>
      
    </ul>

    <h6 style="max-width: 500px;margin: auto;">Note: Clicking on finish will end the test. Selecting option will record
        the answer. Once you select an answer you cannot go back.</h6>
</div>